html{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    --header-height: 50px;
    --footer-height: 30px;
}

header{
    height: var(--header-height);
    background-color: #222;
    text-align: center;
    line-height: var(--header-height);
}

.nav__link{
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 0px 10px;
    display: inline-block;

}

.nav__link:hover, .active{
    color: orange;

}

.container{
    max-width: 1140px;
    min-width: 300px;
    margin: 0 auto;
}

.section{
    padding: 10px 20px;
}
.section:not(:last-child)::after{
    content: "";
    display: block;
    height: 4px;
    width: 80%;
    background-color: orange;
    margin-top: 20px auto 0;

}

h2{
    font-family: Roboto, sans-serif;
    color: orange;
}
p{
    text-align: justify;
    padding: 0 20px;

}

footer{
    height: var(--footer-height);
    background-color: orange;
    text-align: center;
    line-height: var(--footer-height);
    color: white;
}
