@media only screen and (min-width: 960px) {

    html{
    font-size: 62.5%;
    }



    .nav-list {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    list-style-type: none;
    }

    .menu-button {
        display: none;
    }

    


    #img1{
    order: 1;
    }
    #img2{
    order: 2;
    }

    section, header, footer{
    width: 144rem;
    }
    .footerC{
    width: 144rem;
    }
    .container{
    width: 117.2rem;
    }


    #heroImg
    {
        gap: 7.6rem;
    }
    #heroS{
        background-image: url("images/vector1.png");
        background-size: 100% 100%;
        height: 62.5rem;
    }
    #hero{
    padding-top: 2rem;
    }

    #heroBottom{
    width: 55rem;
    justify-self: flex-end;
    margin-top: -3rem;
    }
    #heroBottom h2{
    padding: 1rem 0rem 0rem 4rem;
    }



    .slidesWrapper {
        padding: 0 10rem;
        width: 95.5rem;
    }
    
    .prev, .next {
        width: 10rem;
        font-size: 4rem;
        }



    .cookie{
        padding: 19rem 3rem 3rem 3rem;
        width: 30rem;
        gap: 1.5rem;
    }


    #cookies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 17rem;
    column-gap: 12.5rem;
    align-items: center;
    }


    .ignoreCookie{
    position: absolute;
    bottom: 23rem;
    }
    #brownie{
        bottom: 19rem;
        
    }
    #mix{

        padding-left: 65rem;
        margin: 5rem 0rem;
    }



    #menuS{
        height: 156.8rem;
        padding-top: 110px;
        background-size: 100% 100%;

    }

    input[type="email"]{
    width: 25rem;
    }

    #joinS{
    background-image: url("images/vector3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    }
    #join {
    height: 32rem;
    text-align: center;
    padding-top: 7rem;
    }


}



@media only screen and (min-width: 960px) and (max-width: 1140px){
    html{
    font-size: 41.66%;

    }

}

@media only screen and (min-width: 1140px) and (max-width: 1439px){
    html{
    font-size: 49.48%;

    }

}


/* large web*/
@media only screen and (min-width: 1440px) {

    html{
    font-size: 62.5%;
    }

}

@media only screen and (min-width: 360px) and (max-width:720px) {
    html{
    font-size: 19.2%;
    }

}


@media only screen and (max-width:960px) {

    

   .nav-list {
        overflow: hidden;
        color: #000;
        max-height: 0;
        transition: max-height 0.5s ease;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 75px;
        background-color: #432E22;
        padding: 0 1rem;
        gap: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        list-style-type: none;
    }

    .nav-list.show {
        max-height: 300px; 
        padding: 1rem;
    }

    .menu-button {
        display: block;
    }

    header {
    position: relative;
    z-index: 1000;
}


}

@media only screen and (min-width: 720px) and (max-width:960px) {

    
    html{
    font-size: 38.4%;

    }

    .footerC{
    width: 720px;
    }

    #img1{
        order: 0;
    }


    #img2{
        order: 2;
        display: flex;
        align-items: center;
        padding-bottom: 5rem;
    }

    #heroImg h1 {
        order: 1;
        margin: 0px -15px;
        width: 165px;
        padding: 40px 10px 20px 10px;
    }

    #heroS{
        background-image: url("images/vector7.png");
        background-size: 100% 100%;
        height: 440px;
        width: 100%;

    }
    #hero{
        padding: 2rem 0px 0px 2rem;
    }

    #heroImg{
        height: 380px;
    }
    .container{
    width: 720px;
    }
    section, header, footer{
    width: 720px;
    }
    html{
        width: 720px;
    }

    #heroBottom{
    width: 45rem;
    justify-self: flex-end;
    margin: -17rem 32rem 0px 0px;
    align-items: center;
 
    }
    #heroBottom h2{
    padding: 1rem 0rem 0rem 3rem;
    text-align: center;
    }

    .slidesWrapper {
        padding: 0 6.23rem;
        width: 70rem;
        background-color: #FFF7EF;
    }
    .prev, .next {
        width: 6.23rem;
        font-size: 4rem;
    }

    .cookie{
        padding: 19rem 3rem 3rem 3rem;
        width: 30rem;
        gap: 1.5rem;
    }


    #cookies{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 13rem;
        column-gap: 7rem;
        align-items: center;
    }

    #menu h3{
        padding-left: 30px;
    }


    .ignoreCookie{
    position: absolute;
    bottom: 21rem;
    }
    #brownie{
        bottom: 18rem;
        
    }

    #menuS{
        /* height: 1568px; */
        padding: 110px 0px 110px 0px;
        background-size: 100% 100%;

    }
    .menu{

        
    }




    #mix{
        padding: 0px 10rem 0px 65rem;
        margin: 5rem 0rem;
    }

    input[type="email"]{
    width: 35rem;
    font-size: 1.7rem;
    }

    #joinS{
    background-image: url("images/vector3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    }
    #join {
    text-align: center;
    padding: 7rem 0px 5rem 0px;
    box-sizing: border-box;
    }


}














:root {
--imgHeight: 26rem;
}

*{
    padding: 0px;
    margin: 0px;
}
html{
    /* font-size: 38.4%; */

    font-family: Roboto Slab;
    scroll-behavior: smooth;
    background-color: #FFF7EF;


}

html, body {
    width: 100%;
}

/* brown #432E22
brown2 #604535
backgroundbrown #F1C18C
logoColor1 #432E22
logoColor2 #B78D5E */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 13.7rem;
}

h1{
    font-size: 3.5rem;
    font-family: "Inria Serif";
    font-weight: bold;
    font-style: italic;
    color: #432E22;
}
h2{
        font-size: 2.5rem;
    font-family: "Inria Serif";
    font-style: italic;
    color: #432E22;
    font-weight: 300;
}
h3{
        font-size: 5.5rem;
    font-family: "Inria Serif";
    font-weight: bold;
    font-style: italic;
}
h4{
        font-size: 3.2rem;

    font-family: "Inria Serif";
    font-style: italic;
    color: #432E22;
    font-style: normal;
    text-align: center;
}
h5{
        font-size: 2.5rem;

    font-family: Roboto Slab;
    font-weight: normal;
    text-transform: uppercase;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section, footer, header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerC{

    box-sizing:border-box;
    padding: 0px 13.4rem ;
}
.container{
    box-sizing:border-box;
}
.buttonBrown{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 1.6rem;
    color: #F1C18C;
    background: #604535;
    text-align: center;
    padding: 1rem 2.5rem;
    border: #432E22 solid 0.3rem;
    border-radius: 30px;

}
.buttonBrown:hover{
    background-color: #F1C18C;
    color: #432E22;
    transition: all 0.3s ease;
}
.buttonWhite{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 2.4rem;
    background-color: #FFF7EF;
    text-align: center;
    border: #432E22 solid 0.3rem;
    border-radius: 30px;
    color:#604535;
    padding: 0.5rem 2rem;
    width: 100%;
    text-decoration: none;
}
.buttonWhite:hover{
    border-color: #FFF7EF;
    color: #FFF7EF;
    background-color: #432E22;
    transition: all 0.3s ease;


}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #432E22;
}

#headerContainer{
    display: flex;
    flex-direction: row;
    gap: 4.5rem;

}
.header{
    display: flex;
    justify-content: space-between;
}

.header{
    list-style-type: none;

}

.header ul li{
    display: flex;
    justify-content: center;

}
.header ul li a{
    display: block;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    align-content: center;
    color:#F1C18C;
    text-decoration: none;
}
.header ul li a:hover{
    font-weight: bold;
    transition: all 0.3s ease;
}
#hIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;
}

#img2 img{
    width: 32.4rem;
}
#img1 img{
    width: 42.7rem;

}

.menu-button {
    font-size: 2.4rem;
    background: none;
    border: none;
    color: #F1C18C;  /* same color as your links */
    cursor: pointer;
}


#heroImg
{
    display: flex;
    flex-direction: row;
}
#heroImg h1{
    text-align: center;

}

#heroButtons
{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;

}
#heroBottom{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#heroS{
    background-repeat: no-repeat;
    background-position: center;
}

#avatar{
    height: 285px;
}

#menuS{
    background-image: url("images/vector2.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
#menu{
    display: flex;
    flex-direction: column;
justify-content: center;
    gap: 13rem;
}

.cookie{
    position: relative;
    background-color: #FFF7EF;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-sizing: border-box
}

.cookie img{
height: var(--imgHeight);
transition: all 0.3s ease;

}
.cookie:hover{
    --imgHeight: 27rem
    }

.cookie p{
    color: #604535;
    font-family: "Inria Serif";
    font-size: 2rem;

}
.cookie button{
    width: 100%;
}
.from{
    font-weight: bold;
    color: #432E22;
}

.price{
    display: flex;
    flex-direction: row;
}



#mix{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#mixText{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
}

.ignoreMix {
    height: 55.9rem;
    width: 55.9rem;
    position: absolute;
    right: 60rem;
    bottom: 0rem;
    }

#joinPost{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}
#joinText{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#joinSub{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#join p{
    font-family: "Inria Serif";
    font-size: 2rem;
}

input[type="email"]{
    padding: 1rem 0rem 1rem 1rem;
    border-radius: 30px;
    border: none;
    background-color: #FFF7EF;
}

#join button[type="submit"]{
    border: #432E22 solid 3px;
    border-radius: 30px;
    background-color: #604535;
    color: #FFF7EF;
    padding: 1rem 2.5rem;
    font-family: Roboto Slab;
    font-size: 1.6rem;
}
#join button[type="submit"]:hover{
    background-color: #F1C18C;
    color: #432E22;
    transition: all 0.3s ease;
}

.footerC a{
    text-decoration: none;

}

.footerC a:hover{
    color: rgba(96, 69, 53, 1);
    transition: all 0.3s ease;
}
.footerC a:not(.footerMedia a), mail{
    font-family: Roboto Slab;
    font-size: 1.6rem;
    color:#F1C18C;
    padding: 0.5rem 1rem;
}

.footerC{
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    background-color: #432E22;

}
.footerContact a{
    color: #F1C18C;

}

    #footerVector{
        object-fit: fill;
        width: 100%;

    }

.footerAll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footerAll h5{
    color: #F1C18C;
    padding: 0.5rem 1rem;
}
.footerMedia{
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    gap: 2.5rem
}
.footerAll > div:not(.footerMedia){
    display: flex;
    flex-direction: column;
}
.footerInfo{
    gap: 1rem;
}

.footerContact{
    gap: 1.5rem;

}

.footerRights{
    font-family: Roboto Slab;
    font-size: 1.6rem;
    color: #F1C18C;
    text-align: center;
}


.cookieMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 0rem 0rem 3.5rem;
    box-sizing: border-box;
    gap: 10rem;

}
.cookieMain img{
    height: 45rem;
}
#cookieMainS{
     background-image: url("images/vector6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 682px;
    width: 1440px;
}


#cookiePage{
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    justify-content: center;
}

#cookiePage h3{
    text-align: center;
    align-self: flex-start;
    padding-right: 5rem;
}

#cookiePage button{
    padding: 1rem 2rem;
    border-radius: 2.4rem;
    border: #432E22 solid 0.2rem;
}
#cookiePage button:hover{
    transition: all 0.3s ease;
}

#card{
    background-color: rgba(255, 247, 239, 0.75);
    width: 24rem;
    margin: 3rem
    
}
#cookiePic{
    padding: 2.5rem;
    border-radius: 3.2rem;
    background-color: rgba(255, 247, 239, 0.75);

}
.pieces-form {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
}

.piece-option {
    font-family: "Inria Serif";
    font-size: 1.6rem;    
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}

.piece-option.selected {
    background-color:  rgba(255, 247, 239, 0.75);
    border-width: 0.3rem;
}

.price-form{
    padding-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cookieInfoS{
    width: 1440px;
    background-color: #FFF7EF;
}
.cookieInfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-family: Roboto Slab;
    font-size: 1.6rem;
    margin: 4rem 0rem;

}
#contains{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#contains ul{
    list-style-type: none;

}




.slideshowContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0; /* no side padding — arrows sit at edges */
  text-align: center;
  overflow: hidden;
  background-color: #FFF7EF;
}

.slidesWrapper {
  flex: 1;
  position: relative;
  background-color: #FFF7EF;
}

.avatarContenr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.avatarImg {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  margin-bottom: 20px;
}

#avatar p{
  font-size: 2rem;
  font-family: "Inria Serif";
}


.prev, .next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  color: #aaa;
  pointer-events: auto;
}

.prev {
  left: 0;
  background: linear-gradient(to right, rgba(255, 247, 239, 1), rgba(255, 247, 239, 0));
}

.next {
  right: 0;
  background: linear-gradient(to left, rgba(255, 247, 239, 1), rgba(255, 247, 239, 0));
}

.prev:hover, .next:hover {
  color: #000;
}


.active, .dot:hover {
  background-color: #717171;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}


