:root {
    --imgHeight: 26rem;
}

*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
    font-family: Roboto Slab;
    scroll-behavior: smooth;

}

/* brown #432E22
brown2 #604535
backgroundbrown #F1C18C
logoColor1 #432E22
logoColor2 #B78D5E */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    width: 100%;
}
h1{
    font-size: 3.5rem;
    font-family: "Inria Serif";
    font-weight: bold;
    font-style: italic;
    color: #432E22;
}
h2{
    font-size: 2.5rem;
    font-family: "Inria Serif";
    font-style: italic;
    color: #432E22;
    font-weight: 300;
}
h3{
    font-size: 5.5rem;
    font-family: "Inria Serif";
    font-weight: bold;
    font-style: italic;
}
h4{
    font-family: "Inria Serif";
    font-style: italic;
    color: #432E22;
    font-style: normal;
    font-size: 3.2rem;
    text-align: center;
}
h5{
    font-family: Roboto Slab;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section, header, footer{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerC, .container{

    box-sizing:border-box;
    width: 1440px;
    padding: 0px 134px ;
}
.buttonBrown{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 1.6rem;
    color: #F1C18C;
    background: #604535;
    text-align: center;
    padding: 1rem 2.5rem;
    border: #432E22 solid 0.3rem;
    border-radius: 30px;

}
.buttonBrown:hover{
    background-color: #F1C18C;
    color: #432E22;
    transition: all 0.3s ease;
}
.buttonWhite{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 2.4rem;
    background-color: #FFF7EF;
    text-align: center;
    border: #432E22 solid 0.3rem;
    border-radius: 30px;
    color:#604535;
    padding: 0.5rem 2rem;
    width: 100%;
    text-decoration: none;
}
.buttonWhite:hover{
    border-color: #FFF7EF;
    color: #FFF7EF;
    background-color: #432E22;
    transition: all 0.3s ease;


}
header{
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: #432E22;


}
.header{
    width: 1152px;
    display: flex;
    justify-content: space-between;
}
.header ul{
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    list-style-type: none;

}

.header ul li{
    display: flex;
    justify-content: center;

}
.header ul li a{
    display: block;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    align-content: center;
    color:#F1C18C;
}
.header ul li a:hover{
    font-weight: bold;
    transition: all 0.3s ease;
}
#hIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;
}

main{
    width: 1172px;
}


#heroImg
{
    display: flex;
    flex-direction: row;
    gap: 7.6rem;
}
#heroImg h1{
    align-self: center;
    text-align: center;
}
#heroButtons
{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;

}
#heroBottom{
    width: 55rem;
    justify-self: flex-end;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#heroBottom h2{
    padding: 1rem 0rem 0rem 4rem;
}
#hero{
    padding-top: 2rem;
}
#heroS{
    background-image: url("images/vector1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 625px;
}

#avatar{
    height: 285px;
}

#menuS{
    background-image: url("images/vector2.png");
      background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    height: 1568px;
    display: flex;
    padding-top: 110px;
}
#menu{
    display: flex;
    flex-direction: column;
justify-content: center;
    gap: 13rem;
}
#cookies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 17rem;
    column-gap: 12.5rem;
    align-items: center;
}

.cookie{
    position: relative;
    background-color: #FFF7EF;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19rem 3rem 3rem 3rem;
    width: 30rem;
    border-radius: 30px;
    gap: 1.5rem;
    box-sizing: border-box
}
.cookie img{
    height: var(--imgHeight);
    transition: all 0.3s ease;

}
.cookie:hover{
    --imgHeight: 27rem
}
.cookie p{
    color: #604535;
    font-family: "Inria Serif";
    font-size: 2rem;

}
.cookie button{
    width: 100%;
}
.from{
    font-weight: bold;
    color: #432E22;
}

.price{
    display: flex;
    flex-direction: row;
}
.ignoreCookie{
    position: absolute;
    bottom: 23rem;
}
#brownie{
    bottom: 19rem;
    
}


#mix{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 65rem;
    margin: 5rem 0rem;
}

#mixText{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
}
.ignoreMix{
    position: absolute;
    right: 76rem;
    bottom: 0rem;
}

#join {
  background-image: url("images/vector3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  text-align: center;
  padding-top: 70px;
}
#joinPost{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}
#joinText{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#joinSub{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#join p{
    font-family: "Inria Serif";
    font-size: 2rem;
}

input[type="email"]{
    padding: 1rem 0rem 1rem 1rem;
    border-radius: 30px;
    border: none;
    width: 25rem;
    background-color: #FFF7EF;
}

#join button[type="submit"]{
    border: #432E22 solid 3px;
    border-radius: 30px;
    background-color: #604535;
    color: #FFF7EF;
    padding: 1rem 2.5rem;
    font-family: Roboto Slab;
    font-size: 1.6rem;
}
#join button[type="submit"]:hover{
    background-color: #F1C18C;
    color: #432E22;
    transition: all 0.3s ease;
}

.footerC a{
    text-decoration: none;

}

.footerC a:hover{
    color: rgba(96, 69, 53, 1);
    transition: all 0.3s ease;
}
.footerC a:not(.footerMedia a), mail{
    font-family: Roboto Slab;
    font-size: 1.6rem;
    color:#F1C18C;
    padding: 0.5rem 1rem;
}

.footerC{
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    background-color: #432E22;

}
.footerContact a{
    color: #F1C18C;

}

.footerAll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footerAll h5{
    color: #F1C18C;
    padding: 0.5rem 1rem;
}
.footerMedia{
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    gap: 2.5rem
}
.footerAll > div:not(.footerMedia){
    display: flex;
    flex-direction: column;
}
.footerInfo{
    gap: 1rem;
}

.footerContact{
    gap: 1.5rem;

}

.footerRights{
    font-family: Roboto Slab;
    font-size: 1.6rem;
    color: #F1C18C;
    text-align: center;
}


.cookieMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 0rem 0rem 3.5rem;
    box-sizing: border-box;
    width: 1172px;
    gap: 10rem;

}
.cookieMain img{
    height: 45rem;
}
#cookieMainS{
     background-image: url("images/vector6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 682px;
    width: 1440px;
}


#cookiePage{
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    justify-content: center;
}

#cookiePage h3{
    text-align: center;
    align-self: flex-start;
    padding-right: 5rem;
}

#cookiePage button{
    padding: 1rem 2rem;
    border-radius: 2.4rem;
    border: #432E22 solid 0.2rem;
}
#cookiePage button:hover{
    transition: all 0.3s ease;
}

#card{
    background-color: rgba(255, 247, 239, 0.75);
    width: 24rem;
    margin: 3rem
    
}
#cookiePic{
    padding: 2.5rem;
    border-radius: 3.2rem;
    background-color: rgba(255, 247, 239, 0.75);

}
.pieces-form {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
}

.piece-option {
    font-family: "Inria Serif";
    font-size: 1.6rem;    
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}

.piece-option.selected {
    background-color:  rgba(255, 247, 239, 0.75);
    border-width: 0.3rem;
}

.price-form{
    padding-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cookieInfoS{
    width: 1440px;
    background-color: #FFF7EF;
}
.cookieInfo{
    width: 1172px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-family: Roboto Slab;
    font-size: 1.6rem;
    margin: 4rem 0rem;

}
#contains{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#contains ul{
    list-style-type: none;

}