*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
    font-family: Roboto Slab;
}

/* brown #432E22
brown2 #604535
backgroundbrown #F1C18C
logoColor1 #432E22
logoColor2 #B78D5E */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    width: 100%;
}
h1{
    font-size: 3.5rem;
    font-family: "Inria Serif";
    font-weight: bold;
    font-style: italic;
    color: #432E22;
}
h2{
    font-size: 2.5rem;
    font-family: "Inria Serif";
    font-style: italic;
    color: #432E22;
    font-weight: 300;
}
h3{
    font-size: 5.5rem;
    font-family: "Inria Serif";
    font-weight: bold;
    font-style: italic;
}
h4{
    font-family: "Inria Serif";
    font-style: italic;
    color: #432E22;
    font-style: normal;
    font-size: 3.2rem;
    text-align: center;
}
.buttonBrown{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 1.6rem;
    color: #F1C18C;
    background: #604535;
    text-align: center;
    padding: 1rem 2.5rem;
    border: #432E22 solid 0.3rem;
    border-radius: 30px;

}
.buttonBrown:hover{
    background-color: #F1C18C;
    color: #432E22;
}
.buttonWhite{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 2.4rem;
    background-color: #FFF7EF;
    text-align: center;
    border: #432E22 solid 0.3rem;
    border-radius: 30px;
    color:#604535;
    padding: 0.5rem 2rem;
}
header{
    width: 100%;
    background-color: #432E22;
    border-bottom: 1px solid #F1C18C;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header{
    width: 1152px;
    display: flex;
    justify-content: space-between;
}
.header ul{
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    list-style-type: none;

}

.header ul li{
    display: flex;
    justify-content: center;

}
.header ul li a{
    display: block;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    align-content: center;
    color:#F1C18C;
}
.header ul li a:hover{
    font-weight: bold;
}
#hIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;
}

main{
    width: 1172px;
}


#heroImg
{
    display: flex;
    flex-direction: row;
    gap: 7.6rem;
}
#heroImg h1{
    align-self: center;
    text-align: center;
}
#heroButtons
{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;

}
#heroBottom{
    width: 55rem;
    justify-self: flex-end;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#heroBottom h2{
    padding: 1rem 0rem 0rem 4rem;
}
#hero{
    padding-top: 5rem;
}


#menu{
    display: flex;
    flex-direction: column;
    gap: 13rem;
}
#cookies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 17rem;
    column-gap: 12.5rem;
    align-items: center;
}

.cookie{
    position: relative;
    background-color: #FFF7EF;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19rem 3rem 3rem 3rem;
    width: 30rem;
    border-radius: 30px;
    gap: 1.5rem;
    box-sizing: border-box
}

.cookie p{
    color: #604535;
    font-family: "Inria Serif";
    font-size: 2rem;

}
.cookie button{
    width: 100%;
}
.from{
    font-weight: bold;
    color: #432E22;
}

.price{
    display: flex;
    flex-direction: row;
}
.ignoreCookie{
    position: absolute;
    bottom: 230px;
}


#mix{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 65rem;
    margin: 5rem 0rem;
}

#mixText{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
}
.ignoreMix{
    position: absolute;
    right: 58rem;
}